<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--[if mso]><table width="600" align="center"><tr><td><![endif]-->
        <table align="center"
               style="width:100%;
                      max-width:600px;
                      font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif'">
            <tr>
                <td align="center" style="color: white; background: #f0ad4e; padding: 50px 0" bgcolor="#f0ad4e">
                    <h1 style="max-width: 90%; margin: 0 auto; padding: 0;">REQUIRED UNANSWERED QUESTIONS</h1>
                </td>
            </tr>
            <tr>
                <td style="padding: 10px;">
                    <p>Dear {{ user.get_name }},</p>
                    <p>
                        You have been logged off from the {{ tool }} that requires answers to the following post-usage questions:
                    </p>
                    {% for question in questions %}
                        {{ question.render_as_text|safe|linebreaksbr }}
                        <br>
                        <br>
                    {% endfor %}
                    <p>Regards,</p>
                    <p></p>
                    <p>{{ facility_name }} Management</p>
                </td>
            </tr>
        </table>
        <!--[if mso]></td></tr></table><![endif]-->
    </body>
</html>
