{% load custom_tags_and_filters %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">New training event: {{ tool }}</h4>
</div>
<div class="modal-body">
    <input type="hidden" id="dialog_cancelled" value="true">
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            Oops! Something went wrong. The training event was not created because:
            <br>
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    <form id="additional_event_parameters" class="form-horizontal" onsubmit="return false">
        <input type="hidden" name="training_configured" value="true">
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-2">Start time:</label>
            <div class="col-sm-5 col-md-4 form-control-static">{{ start | input_date_format }}</div>
        </div>
        {% if training_details.techniques.all %}
            <div class="form-group">
                <label class="col-sm-3 col-md-2 control-label" for="technique">Technique</label>
                <div class="col-sm-5 col-md-4">
                    <select class="form-control" name="technique" id="technique">
                        <option value="">{{ "training"|customization:"training_technique_empty_label" }}</option>
                        {% for technique in training_details.techniques.all %}
                            <option label="{{ technique.name }}"
                                    value="{{ technique.id }}"
                                    {% if form.technique.value|to_int == technique.id %}selected{% endif %}></option>
                        {% endfor %}
                    </select>
                </div>
                {% if form.technique.errors %}
                    <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                        {{ form.technique.errors|striptags }}
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="auto_cancel">Auto cancel</label>
            <div class="col-sm-5 col-md-4">
                <input class="form-control"
                       name="auto_cancel"
                       id="auto_cancel"
                       value="{{ form.auto_cancel.value|input_date_format }}"
                       type="text">
                if no user registered before.
            </div>
            {% if form.auto_cancel.errors %}
                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                    {{ form.auto_cancel.errors|striptags }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="duration">Duration</label>
            <div class="col-sm-5 col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           name="duration"
                           id="duration"
                           type="number"
                           min="15"
                           value="{{ form.duration.value|default_if_none:'' }}"
                           required>
                    <span class="input-group-addon">minutes</span>
                </div>
            </div>
            {% if form.duration.errors %}
                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                    {{ form.duration.errors|striptags }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="capacity">Capacity</label>
            <div class="col-sm-5 col-md-4">
                <div class="input-group">
                    <input class="form-control"
                           name="capacity"
                           id="capacity"
                           type="number"
                           min="1"
                           value="{{ form.capacity.value|default_if_none:'' }}"
                           required>
                    <span class="input-group-addon">attendees</span>
                </div>
            </div>
            {% if form.capacity.errors %}
                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                    {{ form.capacity.errors|striptags }}
                </div>
            {% endif %}
        </div>
        <div class="form-group">
            <label class="col-sm-3 col-md-2 control-label" for="invitation_only">Invitation only</label>
            <div class="col-sm-5">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"
                               name="invitation_only"
                               id="invitation_only"
                               {% if form.invitation_only.value %}checked{% endif %}>
                        Only invited users can register
                    </label>
                </div>
            </div>
            {% if form.invitation_only.errors %}
                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                    {{ form.invitation_only.errors|striptags }}
                </div>
            {% endif %}
        </div>
        {% if form.instance.id and form.instance.users.all %}
            <div class="form-group">
                <label class="control-label col-sm-3 col-md-2" for="_search">Attendees</label>
                <div id="registered-user-list" class="col-sm-9 form-control-static">
                    No users have registered for this training yet.
                </div>
            </div>
        {% endif %}
        <div class="form-group">
            <label class="control-label col-sm-3 col-md-2" for="invited_search">Invitations</label>
            <div class="col-sm-5 col-md-4">
                <input id="invited_search" type="text" autocomplete="off" class="form-control" placeholder="Invite users">
            </div>
        </div>
        <div class="form-group">
            <div id="invited-user-list" class="col-sm-offset-3 col-md-offset-2 col-sm-5">
                No users have been invited to this training yet.
            </div>
            {% if suggested_users %}
                <div id="suggested_users_container" class="col-sm-4">
                    <div class="visible-xs" style="margin-top: 20px"></div>
                    <div style="text-align: right; margin-top: -40px">
                        <div style="text-decoration: underline;margin-bottom: 5px">Suggested users:</div>
                        <div id="suggested_users">
                            {% for user in suggested_users %}
                                <div>
                                    <span onclick="add_invited_user('{{ user }}', '{{ user.id }}');$(this).closest('div').remove();if ($.trim($('#suggested_users').html()).length === 0){$('#suggested_users_container').remove()}"
                                          title="Add this user to the list of invited users"><span class="grey glyphicon glyphicon-chevron-left"></span> {{ user.get_name }}</span>
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="form-group {% if form.message.errors %}has-error{% endif %}">
            <label class="control-label col-sm-3 col-md-2" for="message">Message</label>
            <div class="col-sm-8 col-md-6">
                <textarea id="message"
                          oninput="auto_size_textarea(this)"
                          name="message"
                          class="form-control"
                          placeholder="Add a optional message for the users">{{ form.message.value|default_if_none:"" }}</textarea>
            </div>
            {% if form.message.errors %}
                <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 form-control-static danger-highlight">
                    {{ form.message.errors|striptags }}
                </div>
            {% endif %}
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-offset-3 col-md-offset-2 col-sm-9 col-md-10 text-left">
            {% button type="save" submit=False dismiss="modal" onclick="$('#dialog_cancelled').val(false);" value="Confirm" %}
        </div>
    </div>
</div>
<script>
	$("#invited_search").autocomplete('users', select_invited_user, '{% url 'user_for_training_search' %}', true);
	function select_invited_user(jquery_event, search_selection, dataset_name)
	{
		$(this).typeahead('val', '').focus();
		add_invited_user(search_selection.name, search_selection.id);
	}
	function add_invited_user(user_name, user_id)
	{
		add_to_list("#invited-user-list", "remove_invited_user", user_id, user_name, "Remove this user from the list of invited users", "user_ids_to_invite");
	}
	function remove_invited_user(user_id)
	{
		remove_from_list("#invited-user-list", "#user_ids_to_invite_" + user_id, "No users have been invited to this training yet.");
	}
	let timepicker_properties =
    {
        format: '{{ datetime_input_js_format }}',
        showClose: true,
        sideBySide: true,
        useCurrent: false
    };
    let auto_cancel_jq = $("#auto_cancel");
    auto_cancel_jq.datetimepicker(timepicker_properties);
</script>
